.textep0 {
    font-style: oblique;
    color: black;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
  
  
  }

  .texteprecio {
    color:  rgb(0, 116, 8) ;
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
  
  
  }

  .texteprecioHP {
    color:  rgb(163, 5, 5) ;
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
  
  
  }

.textep1 {
  color: rgba(9, 9, 12, 2.267);
  font-size: 42px;
  font-family: 'Courier New', Courier, monospace;
  

}

.textep2 {

    color: rgba(15, 11, 27, 0.639);
    width: "400px";
    min-Height: "500px";
    text-align: center;

     margin: 5px 0;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
   
    
    
  
  }