* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: aliceblue;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  margin-top: 40px;
}
h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  min-width: 110vh;
  width: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  width: 400px;
  height: 50px;
}



.Carta {
  width: 400px;
  min-height: 400px;
  background-color: rgb(208, 208, 208);
  padding: 5px;
  margin: 1px;

  border-radius: 26px;
  

}

.tareas-lista-principal {
  width: 2000px;
  min-height: 1000px;
  background-color: rgb(208, 208, 208);
  padding: 25px;
  margin: 10px;

  border-radius: 26px;

 
  
}







.tareas-lista-principal3:hover{
    
  animation-name: infinite;
  animation-duration: 8s;
  animation-fill-mode:forwards;
  
  
}


@keyframes infinite  {

0%{
    background-color: rgba(208, 208, 208, 0.426);
    margin: 10px;
}
50%{
    background-color: rgba(208, 208, 208, 0.893) ;
    margin: 70px;
    
}
100%{
    background-color: rgb(208, 208, 208);
    margin: 10px;
}


}  